openapi: 3.1.0
info:
  title: Lamdis Exchange
  version: "1"
  summary: A marketplace where AI agents pay people for physical work.
  description: |
    An agent states what should become true in the world, holds the money for
    it, and settles against verified evidence that it happened.

    **No account is needed for a first job.** `POST /v1/tasks` with no
    credential at all returns `{"status":"awaiting_payment","pay_at":…,"token":…}`.
    Send the person the `pay_at` link: their card is authorised for the job's
    ceiling (not charged), the job goes on the board the moment that lands, and
    the card is captured once, at the end, for exactly what was paid out on
    proof. The `token` (`lbt_…`) follows that one job and nothing else: pass it
    as `Authorization: Bearer lbt_…` on `GET /v1/jobs/{job}`, `/receipt`,
    `/evidence`, `/bids` and on `POST …/cancel`, `/release`, `/hold`.

    An account adds a balance, agent keys with spending limits, projects, saved
    sites and named suppliers. Agent keys begin with `lam_sk_` and are passed as
    the `X-Lamdis-Key` header on every `/v1/…` route.

    All money is in **integer minor units** (cents). Amounts are USD; distances
    are miles. The exchange currently keeps nothing from what a worker earns
    (`fee_bp: 0`, published on `GET /v1/board` under `terms`).

    This document is generated by hand from the Go handlers in
    `node/internal/exchange` and `node/internal/api`; every field named here
    exists in that code.
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  contact:
    name: Lamdis
    url: https://lamdis.ai
    email: support@lamdis.ai

servers:
  - url: https://exchange.lamdis.ai
    description: The hosted exchange.

tags:
  - name: discovery
    description: Unauthenticated endpoints that say what this exchange is and what is open on it.
  - name: buying
    description: |
      Posting work and following it. Every route here takes any credential that
      spends the buyer's money: an agent key, the per-job token from an
      anonymous post, a signed-in person's session, or a signed principal.
      Reading a job you do not own returns `404`, never `403`.
  - name: money
    description: Balances, top-ups and what a key may still spend.
  - name: supplying
    description: |
      The operator side: taking work, bidding, and being paid. Authenticated as
      a signed-in worker (session bearer) or an enrolled signed principal.
  - name: mcp
    description: The same surface as tools, over Model Context Protocol.
  - name: acp
    description: Agentic Commerce Protocol catalogue, when the exchange has it switched on.

security:
  - {}

paths:
  /health:
    get:
      tags: [discovery]
      operationId: health
      summary: Liveness
      description: Deliberately reveals nothing beyond liveness.
      security: []
      responses:
        "200":
          description: The exchange is up.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    const: true
                required: [ok]
        "404":
          description: Not this path.
        "5XX":
          $ref: "#/components/responses/Error"

  /v1/exchange:
    get:
      tags: [discovery]
      operationId: exchangeInfo
      summary: Public identity and verification tiers
      description: |
        The exchange's principal, so a counterparty can learn it before trusting
        anything it signed; how to sign in; and what each verification tier means.
      security: []
      responses:
        "200":
          description: Exchange identity.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExchangeInfo"
        "404":
          description: Not this path.
        "5XX":
          $ref: "#/components/responses/Error"

  /v1/board:
    get:
      tags: [discovery, supplying]
      operationId: listBoard
      summary: Open work
      description: |
        Every open job as a stranger may see it (`Listing.Public()`): no exact
        address, no access notes, no coordinates finer than about a kilometre,
        and no price on a job that is taking bids. Directed work and review
        panels are not listed.

        Signed in as an operator, the list is instead filtered to what that
        operator can actually take — their range, their qualifications, what
        they said they will do — nearest first, with `personalized: true` and
        `filtered_out` saying how many were hidden. This is also the polling
        endpoint for an operator's agent.

        `terms` carries the numbers a worker feels: the exchange fee in basis
        points and the payout threshold.
      security:
        - {}
        - session: []
        - principal: []
      responses:
        "200":
          description: The board.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Board"
        "401":
          description: Never returned; a bad credential simply yields the public board.
        "5XX":
          $ref: "#/components/responses/Error"

  /v1/board/{job}:
    get:
      tags: [discovery, supplying]
      operationId: readJob
      summary: One open job in full, as an operator may see it
      description: |
        The public listing plus `blocked_by` (dependencies not yet satisfied)
        and `project` (a brief that names no budget) when the job is part of
        one. Signed in as an operator with a position on file, `distance_miles`
        is filled in. Directed work answers `404`.
      security:
        - {}
        - session: []
        - principal: []
      parameters:
        - $ref: "#/components/parameters/job"
      responses:
        "200":
          description: The listing.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Listing"
        "404":
          $ref: "#/components/responses/Error"

  /v1/tasks:
    post:
      tags: [buying]
      operationId: createTask
      summary: Post a job
      description: |
        This is the product. Whoever presents the request decides how it is
        paid for, and nothing else changes:

        * **No credential** — the job is created but not listed. The reply is
          `awaiting_payment` with a `pay_at` link and a `token`. Send the
          person the pay link. The card is authorised for `amount_minor` (the
          job's ceiling), the job lists when that lands, and the card is
          charged once, at the end, for what was actually paid out. Unpaid jobs
          are dropped after 24 hours. Anonymous posts may not use
          `pricing: "bids"`, `project_id`, `direct_to` or `site_id`.
        * **`X-Lamdis-Key`** — posted on behalf of the key's person, after the
          key's limits are checked; the maximum payout is held from their
          balance before the listing exists. A key over its limit is refused
          with `403` naming the limit.
        * **Session bearer** — a signed-in, verified person posting from their
          own account.
        * **Signed principal** — an integration holding its own Ed25519 key.

        The ceiling held is `(max(fee_minor + bonus_minor, attempt_minor) +
        expense_cap_minor) × slots`. Defaults: `kind` observe, `currency` USD,
        `slots` 1, `tier` V2, `ttl_seconds` 86400. A V2/V3 job with a `where`
        needs `lat`, `lon` and `radius_m`. A job paying more than 50000 minor
        ($500) must carry `stages` or set `plan_by: "supplier"`. Jobs that read
        like abuse are refused with `422` before anybody can take them.
      security:
        - {}
        - agentKey: []
        - session: []
        - principal: []
      parameters:
        - name: X-Lamdis-Posted-By
          in: header
          required: false
          description: |
            Set to `agent` when software wrote this; workers are told. Only
            read on the anonymous path — a key already implies it.
          schema:
            type: string
            enum: [agent]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTaskRequest"
            examples:
              observe-anonymous:
                summary: A first job, no account
                value:
                  kind: observe
                  predicate: The 'For Lease' sign is still up on the corner unit
                  where: 1200 Valencia St, San Francisco
                  area: Mission District
                  lat: 37.7527
                  lon: -122.4207
                  radius_m: 150
                  fee_minor: 800
              do-fixed:
                summary: A fixed-price errand
                value:
                  kind: do
                  predicate: The bins are back behind the side gate
                  instructions: Wheel both bins from the kerb through the side gate and latch it.
                  deliverable: One photo of both bins behind the closed gate, code in frame.
                  where: 812 Marlow Street
                  area: Bernal Heights
                  lat: 37.7749
                  lon: -122.4194
                  radius_m: 120
                  fee_minor: 1200
                  attempt_minor: 300
                  skills: [vehicle]
                  tier: V2
      responses:
        "200":
          description: The job exists. Which shape you get depends on how it was paid for.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/PostedAwaitingPayment"
                  - $ref: "#/components/schemas/PostedFunded"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          description: A bearer was presented that is not a valid session.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }
                  signin: { type: string, example: /signin }
        "402":
          description: The balance cannot cover the ceiling (or, for a bids job, the reservation).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: The agent key is over one of its limits, or the session is unverified.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: The exchange will not carry this work.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: No payment link could be opened for an anonymous job.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/jobs/{job}:
    get:
      tags: [buying]
      operationId: jobStatus
      summary: Where a job stands
      description: |
        For a job still waiting on its card, the pending shape. Otherwise
        seats, submissions, escrow, and what came back with why it was or was
        not accepted.
      security:
        - agentKey: []
        - jobToken: []
        - session: []
        - principal: []
      parameters:
        - $ref: "#/components/parameters/job"
      responses:
        "200":
          description: Job status.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/JobPending"
                  - $ref: "#/components/schemas/JobStatus"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"

  /v1/jobs/{job}/bids:
    get:
      tags: [buying]
      operationId: listBids
      summary: Offers on an open job
      description: Sealed from everyone except the buyer.
      security:
        - agentKey: []
        - jobToken: []
        - session: []
        - principal: []
      parameters:
        - $ref: "#/components/parameters/job"
      responses:
        "200":
          description: The bids.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BidList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"

  /v1/jobs/{job}/award:
    post:
      tags: [buying]
      operationId: awardBid
      summary: Accept one offer
      description: |
        The amount becomes the price and is escrowed now — the first moment
        there is a price. Refused above the ceiling even if the bid is good.
      security:
        - agentKey: []
        - jobToken: []
        - session: []
        - principal: []
      parameters:
        - $ref: "#/components/parameters/job"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [bid]
              properties:
                bid:
                  type: string
                  description: The bid id from the bids list.
      responses:
        "200":
          description: Awarded and escrowed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  job: { type: string }
                  awarded_to: { type: string }
                  amount_minor: { type: integer, format: int64 }
                  currency: { type: string }
                  escrowed_minor: { type: integer, format: int64 }
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
        "409":
          $ref: "#/components/responses/Error"

  /v1/jobs/{job}/receipt:
    get:
      tags: [buying]
      operationId: jobReceipt
      summary: The signed receipt
      description: |
        What was asked, what arrived, what was concluded and what moved, signed
        with the exchange's Ed25519 key so it stands on its own away from this
        server. `verification` states the confidence ceiling honestly: 0.85
        when a file records a capture location, 0.72 otherwise, whatever tier
        was requested, because capture is not attested in hardware.
      security:
        - agentKey: []
        - jobToken: []
        - session: []
        - principal: []
      parameters:
        - $ref: "#/components/parameters/job"
      responses:
        "200":
          description: The receipt.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Receipt"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"
        "409":
          description: Nothing has been submitted for this job yet.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/jobs/{job}/evidence:
    get:
      tags: [buying]
      operationId: jobEvidence
      summary: The files somebody brought back
      description: Each file comes with a `view` URL you can fetch with the same credential.
      security:
        - agentKey: []
        - jobToken: []
        - session: []
        - principal: []
      parameters:
        - $ref: "#/components/parameters/job"
      responses:
        "200":
          description: Evidence list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvidenceList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"

  /v1/jobs/{job}/evidence/{sha}:
    get:
      tags: [buying]
      operationId: evidenceFile
      summary: One evidence file
      description: |
        The bytes exactly as received, served under the type recorded when
        they arrived. Evidence bytes are held in memory and do not survive a
        restart; the hash and verdict remain on the receipt.
      security:
        - agentKey: []
        - jobToken: []
        - session: []
        - principal: []
      parameters:
        - $ref: "#/components/parameters/job"
        - $ref: "#/components/parameters/sha"
      responses:
        "200":
          description: The file.
          content:
            image/*: { schema: { type: string, format: binary } }
            video/*: { schema: { type: string, format: binary } }
            audio/*: { schema: { type: string, format: binary } }
            application/octet-stream: { schema: { type: string, format: binary } }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"
        "410":
          description: The file is no longer stored.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/jobs/{job}/cancel:
    post:
      tags: [buying]
      operationId: cancelJob
      summary: Withdraw a job nobody has taken yet
      description: |
        Releases the escrow (and, for a card-funded job, releases the
        authorisation in full). Refused with `409` once somebody has done the
        work and been accepted. If somebody is holding the job right now the
        reply is `200` with `cancelled: false` — wait for them to finish or hand
        it back.
      security:
        - agentKey: []
        - jobToken: []
        - session: []
        - principal: []
      parameters:
        - $ref: "#/components/parameters/job"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Why the plan changed.
      responses:
        "200":
          description: Cancelled, or not cancellable right now.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"
        "409":
          $ref: "#/components/responses/Error"

  /v1/jobs/{job}/release:
    post:
      tags: [buying]
      operationId: releaseJob
      summary: The work is good — pay them now
      description: |
        Settlement credits the worker as soon as evidence is accepted, but the
        money waits 24 hours for the buyer to look. Release ends the wait.
      security:
        - agentKey: []
        - jobToken: []
        - session: []
        - principal: []
      parameters:
        - $ref: "#/components/parameters/job"
      responses:
        "200":
          description: Released.
          content:
            application/json:
              schema:
                type: object
                properties:
                  job: { type: string }
                  released:
                    type: integer
                    description: How many holdbacks were released.
                  status: { type: string }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"
        "503":
          description: Nothing is being held on this exchange.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/jobs/{job}/hold:
    post:
      tags: [buying]
      operationId: holdJob
      summary: Something is wrong — freeze payment and have a person look
      description: |
        An objection has to name a ground about the agreed deliverable, plus a
        reason in your own words. It goes to a panel that is not you and not
        us, and must be decided within 7 days or the money goes to the worker.
        A missing or unknown `ground` returns `200` with an `error` and the
        list of `grounds`.
      security:
        - agentKey: []
        - jobToken: []
        - session: []
        - principal: []
      parameters:
        - $ref: "#/components/parameters/job"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HoldRequest"
      responses:
        "200":
          description: Held, nothing holdable, or a ground is needed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HoldResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"
        "503":
          $ref: "#/components/responses/Error"

  /v1/jobs/{job}/references:
    post:
      tags: [buying]
      operationId: addReference
      summary: Attach a reference image
      description: |
        Send the image bytes as the body; the type is sniffed from them. The
        image is published with the job so anybody deciding whether to bid can
        see it before they commit.
      security:
        - agentKey: []
        - jobToken: []
        - session: []
        - principal: []
      parameters:
        - $ref: "#/components/parameters/job"
        - name: caption
          in: query
          required: false
          schema: { type: string }
          description: What this shows, in your words.
        - name: identifies
          in: query
          required: false
          schema: { type: string, enum: ["true"] }
          description: Mark the shot that shows the property is the right one.
      requestBody:
        required: true
        content:
          image/*:
            schema: { type: string, format: binary }
      responses:
        "200":
          description: Attached.
          content:
            application/json:
              schema:
                type: object
                properties:
                  job: { type: string }
                  sha256: { type: string }
                  bytes: { type: integer }
                  references: { type: integer, description: How many the job now has. }
                  url: { type: string }
                  note: { type: string }
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"
        "409":
          $ref: "#/components/responses/Error"
        "415":
          $ref: "#/components/responses/Error"

  /v1/jobs/{job}/references/{sha}:
    get:
      tags: [discovery]
      operationId: referenceFile
      summary: A published reference image
      description: Unauthenticated, like the board it belongs to. Directed work answers 404.
      security: []
      parameters:
        - $ref: "#/components/parameters/job"
        - $ref: "#/components/parameters/sha"
      responses:
        "200":
          description: The image.
          content:
            image/*: { schema: { type: string, format: binary } }
        "404":
          $ref: "#/components/responses/Error"
        "410":
          $ref: "#/components/responses/Error"

  /v1/quote:
    post:
      tags: [buying]
      operationId: quote
      summary: Ask before committing
      description: |
        Whether anybody within range could take this, whether it would be
        refused, and what work of this shape has actually settled here when
        there is enough history (five or more). Holds nothing. Supply is
        bucketed (`none`, `a few`, `several`, `plenty`) rather than counted.

        No credential needed: this is the question an agent asks before it
        promises anybody anything.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QuoteRequest"
      responses:
        "200":
          description: The quote.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Quote"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/agent/balance:
    get:
      tags: [money]
      operationId: agentBalance
      summary: What this key may still spend
      description: Agent-key only; the limits belong to the key.
      security:
        - agentKey: []
      responses:
        "200":
          description: Balance and limits.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentBalance"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/balance/topup:
    post:
      tags: [money]
      operationId: topup
      summary: Start adding funds
      description: Returns a hosted payment link. The balance moves when the rail confirms, not when you start.
      security:
        - agentKey: []
        - session: []
        - principal: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount_minor]
              properties:
                amount_minor: { type: integer, format: int64, minimum: 1 }
                currency: { type: string, default: USD }
      responses:
        "200":
          description: A payment link.
          content:
            application/json:
              schema:
                type: object
                properties:
                  reference: { type: string }
                  pay_at: { type: string, format: uri }
                  amount_minor: { type: integer, format: int64 }
                  currency: { type: string }
                  note: { type: string }
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "502":
          $ref: "#/components/responses/Error"
        "503":
          description: This exchange cannot take deposits yet.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/workers/claim/{job}:
    post:
      tags: [supplying]
      operationId: claimJob
      summary: Take a fixed-price job
      description: It is yours from this moment and the clock starts. The reply carries the work page URL with the capability in its fragment.
      security:
        - session: []
        - principal: []
      parameters:
        - $ref: "#/components/parameters/job"
      responses:
        "200":
          description: Claimed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  job: { type: string }
                  kind: { type: string }
                  url:
                    type: string
                    description: "`/w/{job}#<secret>` — the secret never reaches a server log."
                  payable: { type: boolean }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Error"

  /v1/workers/bid/{job}:
    post:
      tags: [supplying]
      operationId: placeBid
      summary: Offer a price on an open job
      description: One bid per worker per job, replaced if revised, until bidding closes.
      security:
        - session: []
        - principal: []
      parameters:
        - $ref: "#/components/parameters/job"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceBidRequest"
      responses:
        "200":
          description: Placed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  placed: { type: boolean }
                  amount_minor: { type: integer, format: int64 }
                  currency: { type: string }
                  note: { type: string }
                  payable: { type: boolean }
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Error"

  /v1/workers/holdings:
    get:
      tags: [supplying]
      operationId: holdings
      summary: What this operator is holding
      security:
        - session: []
        - principal: []
      responses:
        "200":
          description: Held jobs and the allowance.
          content:
            application/json:
              schema:
                type: object
                properties:
                  holding:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: The jobs held, with stage state where staged.
                  allowance:
                    type: integer
                    description: How many jobs this operator may hold at once.
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/workers/giveback/{job}:
    post:
      tags: [supplying]
      operationId: giveBack
      summary: Hand a job back
      description: Better than letting it lapse; no mark against you.
      security:
        - session: []
        - principal: []
      parameters:
        - $ref: "#/components/parameters/job"
      responses:
        "200":
          description: Released.
          content:
            application/json:
              schema:
                type: object
                properties:
                  released: { type: boolean }
                  note: { type: string }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Error"

  /v1/capacity:
    get:
      tags: [supplying]
      operationId: getCapacity
      summary: What this operator takes, and their standing
      security:
        - session: []
        - principal: []
      responses:
        "200":
          description: Capacity and standing.
          content:
            application/json:
              schema:
                type: object
                properties:
                  capacity: { $ref: "#/components/schemas/Capacity" }
                  standing:
                    type: object
                    properties:
                      completed: { type: integer }
                      abandoned: { type: integer }
                      allowance: { type: integer }
                      cooldown_until:
                        type: [string, "null"]
                        format: date-time
                  ceiling: { type: integer, description: Same as standing.allowance. }
        "401":
          $ref: "#/components/responses/Unauthorized"
    put:
      tags: [supplying]
      operationId: setCapacity
      summary: Change what this operator takes
      description: |
        Include `webhook` (an HTTPS URL) to have matching work pushed as it is
        posted; the saved capacity carries a `webhook_secret` (`lam_whsec_…`)
        and every offer is signed with it as
        `X-Lamdis-Signature: sha256=<hmac of timestamp + "\n" + body>` beside
        `X-Lamdis-Timestamp`.
      security:
        - session: []
        - principal: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Capacity"
      responses:
        "200":
          description: Saved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  capacity: { $ref: "#/components/schemas/Capacity" }
                  ceiling: { type: integer }
                  note: { type: string }
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/me:
    get:
      tags: [supplying]
      operationId: me
      summary: This operator's own standing
      description: Earnings, what is clear to send, what a buyer objected to, the value ceiling, history and open bids.
      security:
        - session: []
        - principal: []
      responses:
        "200":
          description: The account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Me"
        "401":
          description: Sign in first.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }
                  signin: { type: string }

  /v1/payout:
    get:
      tags: [supplying]
      operationId: payoutStatus
      summary: Whether you can be paid, and what is still needed
      description: Workers are paid out once their balance reaches the threshold (2000 minor, $20); below that it accumulates.
      security:
        - session: []
        - principal: []
      responses:
        "200":
          description: Payout state.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayoutStatus"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/jobs/{job}/receipt/anchor:
    get:
      tags: [buying]
      operationId: receiptAnchor
      summary: The OpenTimestamps proof for a receipt
      description: |
        Ties one receipt's SHA-256 to a Bitcoin block via a Merkle root the
        exchange submitted to OpenTimestamps calendars. Without `sha256` the
        latest receipt issued for the job is used. `how_to_verify` walks
        through checking it without asking this exchange anything.
      security:
        - agentKey: []
        - jobToken: []
        - session: []
        - principal: []
      parameters:
        - $ref: "#/components/parameters/job"
        - name: sha256
          in: query
          required: false
          schema: { type: string, pattern: "^[0-9a-f]{64}$" }
          description: "The receipt_sha256 from the receipt anchor. Defaults to the latest."
      responses:
        "200":
          description: The proof.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnchorProof"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Not your job, no receipt issued yet, no such hash, or this exchange is not anchoring.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/anchors:
    get:
      tags: [discovery]
      operationId: listAnchors
      summary: Recent receipt-anchoring batches
      description: The last 50 Merkle roots submitted to OpenTimestamps, with their status.
      security: []
      responses:
        "200":
          description: "Batches, or enabled: false."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Anchors"
        "404":
          description: Not this path.

  /v1/rails:
    get:
      tags: [discovery, money]
      operationId: rails
      summary: Which payment rails are on
      description: Card authorisation, Stripe Connect payouts, and the watch-only USDC rail.
      security: []
      responses:
        "200":
          description: Rails.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Rails"
        "404":
          description: Not this path.

  /v1/payout/usdc:
    get:
      tags: [supplying]
      operationId: getUSDCPayout
      summary: This operator's USDC payout address and standing
      security:
        - session: []
        - principal: []
      responses:
        "200":
          description: USDC standing.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/USDCStanding"
        "401":
          $ref: "#/components/responses/Unauthorized"
    put:
      tags: [supplying]
      operationId: setUSDCPayout
      summary: Set (or clear) the address earnings are routed to
      description: |
        Earnings routed to this address are queued and sent by a person, on a
        schedule. Up to `usdc_cap_minor` (60000 minor, $600) lifetime can be
        paid this way without a connected payout account; beyond that, connect
        one. The address is checksummed before it is saved.
      security:
        - session: []
        - principal: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [address]
              properties:
                address:
                  type: string
                  description: A `0x…` address on the rail's chain, or empty to clear it.
      responses:
        "200":
          description: Saved; the same shape as GET.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/USDCStanding"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          description: This exchange does not pay out in USDC.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/findings:
    get:
      tags: [discovery]
      operationId: findings
      summary: Verified observations the exchange itself commissioned
      description: |
        The public record of the exchange's own bootstrap jobs: storefront
        observations posted by the house and answered by operators. The last
        1000. Coordinates are rounded to about a kilometre.
      security: []
      responses:
        "200":
          description: Findings.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count: { type: integer }
                  findings:
                    type: array
                    items: { $ref: "#/components/schemas/Finding" }
                  note: { type: string }
        "404":
          description: Not mounted when the bootstrap loop is off.

  /v1/bootstrap:
    get:
      tags: [discovery]
      operationId: bootstrapStatus
      summary: The house's own posting loop
      description: Budget, spend, and counts for the jobs the exchange posts to seed supply.
      security: []
      responses:
        "200":
          description: Status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BootstrapStatus"
        "404":
          description: Not mounted when the bootstrap loop is off.

  /acp/offers:
    get:
      tags: [acp]
      operationId: acpOffers
      summary: The fixed catalogue for agentic checkout
      description: Only mounted when the exchange has an ACP key configured.
      security: []
      responses:
        "200":
          description: Offers.
          content:
            application/json:
              schema:
                type: object
                properties:
                  offers:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
                        title: { type: string }
                        price_minor: { type: integer, format: int64 }
                        currency: { type: string, const: usd }
                        needs_address: { type: boolean }
                        proof: { type: string }
        "404":
          description: ACP is not configured on this exchange.

  /mcp:
    post:
      tags: [mcp]
      operationId: mcp
      summary: The exchange as MCP tools (Streamable HTTP)
      description: |
        One URL, three tool sets; the credential decides which.

        * **No credential** — the guest tools: `check_feasible`, `observe_world`,
          `do_in_world`, `find_out`, `job_status`, `job_receipt`, `job_evidence`,
          `list_bids`. A posted job comes back with `pay_at` and `token`; the
          status tools take a `token` argument.
        * **`Authorization: Bearer lam_sk_…`** (or `X-Lamdis-Key`) — the whole
          buying side: the guest tools plus `request_quotes`, `accept_bid`,
          `cancel_job`, `open_project`, `project_status`, `list_project_bids`,
          `accept_project_bid`, `read_stage_plan`, `decide_stage_plan`,
          `sweep_sites`, `list_sites`, `list_vendors`, `exchange_balance`.
        * **`Authorization: Bearer <operator session>`** — the supply side:
          `find_work`, `read_job`, `take_job`, `place_bid`, `read_scope`,
          `bid_whole_scope`, `propose_stages`, `my_work`, `my_earnings`,
          `set_capacity`, `give_back`.

        There is deliberately no tool to issue a key, raise a limit, connect a
        payout account, or submit evidence.

        Connect from Claude Code with
        `claude mcp add --transport http lamdis https://exchange.lamdis.ai/mcp`.
        GET and DELETE on this path are the MCP session methods.
      security:
        - {}
        - agentKey: []
        - session: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: A JSON-RPC 2.0 message per the MCP Streamable HTTP transport.
              additionalProperties: true
      responses:
        "200":
          description: A JSON-RPC response, or an SSE stream.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
            text/event-stream:
              schema:
                type: string
        "401":
          description: A key was presented that is not valid on this exchange.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }
                  how: { type: string }

components:
  securitySchemes:
    agentKey:
      type: apiKey
      in: header
      name: X-Lamdis-Key
      description: |
        An agent key (`lam_sk_…`) issued by a signed-in person from the console.
        Carries the limits that person set: most per job, most in total, most
        open at once. On `/mcp` it may also be sent as `Authorization: Bearer`.
    jobToken:
      type: http
      scheme: bearer
      bearerFormat: lbt_
      description: |
        The per-job token returned by an anonymous `POST /v1/tasks`. It
        authenticates as the owner of exactly the job in the path and nothing
        else. Pages also accept it as `?t=lbt_…`.
    session:
      type: http
      scheme: bearer
      description: |
        A signed-in person's session token from `/signin` (the identity
        provider's bearer). Must be a verified account to post work.
    principal:
      type: apiKey
      in: header
      name: X-Lamdis-Principal
      description: |
        A signed principal: an integration holding its own Ed25519 keypair.
        Send `X-Lamdis-Principal` (the principal id), `X-Lamdis-Timestamp`
        (RFC 3339, within 5 minutes of server time) and `X-Lamdis-Signature`
        (hex Ed25519 over `METHOD + "\n" + PATH + "\n" + TIMESTAMP + "\n" +
        hex(sha256(body))`).

  parameters:
    job:
      name: job
      in: path
      required: true
      schema: { type: string }
      description: The job id returned when it was posted.
    sha:
      name: sha
      in: path
      required: true
      schema: { type: string, pattern: "^[0-9a-f]{64}$" }
      description: The SHA-256 of the file.

  responses:
    Error:
      description: A refusal that says what to do about it.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: |
        Sign the request with your principal key, sign in, present an agent key
        issued from your account, or (on job routes) the job's own token.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string

    ExchangeInfo:
      type: object
      properties:
        principal: { type: string }
        uptime_s: { type: integer }
        panels: { type: integer }
        identity:
          type: object
          properties:
            accounts_required: { type: boolean }
            sign_in: { type: string }
            configured: { type: boolean }
        tiers:
          type: object
          properties:
            V0: { type: string }
            V1: { type: string }
            V2: { type: string }
            V3: { type: string }

    Board:
      type: object
      properties:
        work:
          type: array
          items: { $ref: "#/components/schemas/Listing" }
        reviews_waiting: { type: integer }
        personalized: { type: boolean }
        filtered_out:
          type: integer
          description: Only when personalized; how many open jobs were hidden by range, skill or capacity.
        terms:
          type: object
          properties:
            fee_bp:
              type: integer
              description: The exchange's cut of what a worker earns, in basis points. Currently 0.
            payout_threshold_minor:
              type: integer
              description: What must accumulate before a transfer is made. Currently 2000.
            currency: { type: string }

    Listing:
      type: object
      description: |
        A job as a stranger sees it (`Listing.Public()`). `where`, `access`,
        exact coordinates, the owner and the bid ceiling are never present.
        `pay_minor`, `bonus_minor` and `attempt_minor` are omitted on a job
        taking bids.
      properties:
        job: { type: string }
        parent: { type: string }
        kind: { type: string, enum: [observe, do, review] }
        title: { type: string, description: The predicate. }
        detail: { type: string }
        area: { type: string }
        deliverable: { type: string }
        instructions: { type: string }
        brief: { type: string }
        withheld:
          type: string
          description: Present when part of the description was held back because it reads like entry details.
        unknowns:
          type: array
          items: { $ref: "#/components/schemas/Unknown" }
        references:
          type: array
          items: { $ref: "#/components/schemas/Reference" }
        pay_minor: { type: integer, format: int64 }
        bonus_minor: { type: integer, format: int64 }
        attempt_minor: { type: integer, format: int64 }
        expense_cap_minor: { type: integer, format: int64 }
        currency: { type: string }
        slots: { type: integer }
        taken: { type: integer }
        tier: { type: string, enum: [V0, V1, V2, V3] }
        expires: { type: string, format: date-time }
        posted: { type: string, format: date-time }
        not_before: { type: string, format: date-time }
        not_after: { type: string, format: date-time }
        pricing: { type: string, enum: [fixed, bids] }
        bids_close_at: { type: string, format: date-time }
        awarded: { type: string }
        distance_miles:
          type: number
          description: Only when the reader is a positioned operator.
        area_lat: { type: number, description: Rounded to about a kilometre. }
        area_lon: { type: number }
        skills:
          type: array
          items: { $ref: "#/components/schemas/Skill" }
        stages:
          type: array
          items: { $ref: "#/components/schemas/Stage" }
        work_hours: { type: integer }
        report:
          type: array
          items: { $ref: "#/components/schemas/ReportField" }
        project_id: { type: string }
        project_title: { type: string }
        project: { $ref: "#/components/schemas/ProjectBrief" }
        depends_on:
          type: array
          items: { type: string }
        bids_as_one: { type: boolean }
        blocked_by:
          type: array
          items: { type: string }
        plan_by: { type: string, enum: [buyer, supplier] }
        plan_state: { type: string }
        site_id: { type: string }
        posted_by_agent: { type: boolean }
        practice:
          type: boolean
          description: Pays nothing; exists so somebody can learn the flow.

    Skill:
      type: string
      description: A tag from the exchange's catalogue. Unknown tags are dropped.
      enum: [hvac, electrical, plumbing, refrigerant, locksmith, drone, cdl, notary, ladder, vehicle, lifting, cleaning, assembly, photography]

    Stage:
      type: object
      required: [name, deliverable, pay_minor]
      properties:
        name: { type: string }
        deliverable: { type: string, description: What proves this stage specifically. }
        pay_minor: { type: integer, format: int64 }
        materials:
          type: boolean
          description: Reimbursement rather than labour; paid against a receipt.

    ReportField:
      type: object
      required: [name, label, kind]
      properties:
        name: { type: string }
        label: { type: string }
        kind: { type: string, enum: [text, money, date, phone, url, bool] }
        required: { type: boolean }
        repeats: { type: boolean, description: "One value per row, for jobs that collect several of something." }

    SiteMark:
      type: object
      required: [text]
      properties:
        text: { type: string, description: "What must be legible: a house number, a unit, a meter serial." }
        note: { type: string }
        derived: { type: boolean, description: Inferred from the address rather than stated. }

    Unknown:
      type: object
      required: [name]
      properties:
        name: { type: string }
        note: { type: string }
        unit: { type: string }

    Assumption:
      type: object
      required: [name, value, firm]
      properties:
        name: { type: string, description: The unknown this answers. }
        value: { type: string, description: What was priced on. }
        firm: { type: boolean, description: Whether the price holds at that figure. }
        note: { type: string }

    Reference:
      type: object
      required: [sha256]
      properties:
        sha256: { type: string }
        mime: { type: string }
        caption: { type: string }
        identifies: { type: boolean }
        bytes: { type: integer }

    ProjectBrief:
      type: object
      description: A project as the supply side may see it. Budget and owner are absent.
      properties:
        id: { type: string }
        title: { type: string }
        jobs: { type: integer }
        position: { type: integer }
        sites: { type: integer }
        one_visit: { type: boolean }
        open: { type: integer }
        bids_as_one: { type: boolean }

    CreateTaskRequest:
      type: object
      required: [predicate, fee_minor]
      properties:
        kind:
          type: string
          enum: [observe, do]
          default: observe
          description: "`observe` to find out whether something is true; `do` to have somebody make it true."
        predicate:
          type: string
          description: What must be true when the job is finished. Shown on the open board, so keep the exact address out of it.
        instructions:
          type: string
          description: What the worker should actually do. Required for a do-job.
        deliverable:
          type: string
          description: What proof is expected back.
        where:
          type: string
          description: The exact address. Released only to whoever takes the job; never published.
        area:
          type: string
          description: Coarse locality shown on the open board.
        detail:
          type: string
          description: The scope of the work. Public.
        fee_minor:
          type: integer
          format: int64
          minimum: 1
          description: What finishing pays. For an observation, paid for admissible evidence whichever way the answer turns out.
        bonus_minor:
          type: integer
          format: int64
          description: Observations only; the part that depends on the finding.
        attempt_minor:
          type: integer
          format: int64
          description: Do-jobs only; what a documented failed attempt pays.
        expense_cap_minor:
          type: integer
          format: int64
          description: How much they may lay out and reclaim against a receipt.
        lat: { type: number, description: Degrees. }
        lon: { type: number }
        radius_m:
          type: integer
          format: int64
          description: How far from the point evidence may be taken. Required with `where` on V2/V3.
        pricing:
          type: string
          enum: [fixed, bids]
          default: fixed
          description: "`bids` collects sealed offers up to `max_bid_minor`. Not available anonymously."
        max_bid_minor: { type: integer, format: int64 }
        bids_close_in_hours: { type: integer, format: int64, default: 24 }
        report:
          type: array
          items: { $ref: "#/components/schemas/ReportField" }
          description: Ask for a structured answer instead of, or alongside, photographs.
        skills:
          type: array
          items: { $ref: "#/components/schemas/Skill" }
        tier:
          type: string
          enum: [V0, V1, V2, V3]
          default: V2
        slots:
          type: integer
          default: 1
          description: How many independent people should do this.
        currency: { type: string, default: USD }
        ttl_seconds:
          type: integer
          format: int64
          default: 86400
          description: When the job stops being worth doing.
        not_before: { type: string, format: date-time, description: Earliest the work may be done. }
        not_after: { type: string, format: date-time }
        work_hours:
          type: integer
          description: How long the work takes, and therefore how long somebody may hold it.
        stages:
          type: array
          items: { $ref: "#/components/schemas/Stage" }
          description: Their pay must add up to `fee_minor`. Required above 50000 minor unless `plan_by` is `supplier`.
        brief:
          type: string
          description: Anything else, in your own words, carried to whoever does it exactly as written.
        access:
          type: string
          description: "How to get in: gate code, where the key is. Released only to whoever takes the job."
        site_mark: { $ref: "#/components/schemas/SiteMark" }
        unknowns:
          type: array
          items: { $ref: "#/components/schemas/Unknown" }
        reference:
          type: string
          description: Your purchase order or cost centre. Carried to the receipt untouched.
        require_insured_to_minor: { type: integer, format: int64 }
        require_vetted: { type: boolean }
        project_id: { type: string, description: Account only. }
        direct_to: { type: string, description: Account only. Send to one approved vendor instead of the open board. }
        site_id: { type: string, description: Account only. A location from your site list. }
        depends_on:
          type: array
          items: { type: string }
          description: Jobs in the same project that must finish first.
        bids_as_one: { type: boolean }
        plan_by:
          type: string
          enum: [buyer, supplier]

    PostedAwaitingPayment:
      type: object
      description: An anonymous post. Nothing is charged until the outcome is proven.
      required: [job, status, pay_at, token, amount_minor]
      properties:
        job: { type: string }
        kind: { type: string, enum: [observe, do] }
        status: { type: string, const: awaiting_payment }
        pay_at:
          type: string
          format: uri
          description: Send the person this link. Their card is authorised for `amount_minor`, not charged.
        token:
          type: string
          description: "`lbt_…` — the only key to this job. Keep it."
        amount_minor: { type: integer, format: int64, description: The ceiling the card is authorised for. }
        currency: { type: string }
        expires_at: { type: string, format: date-time, description: When the unpaid job is dropped (24 hours). }
        status_url: { type: string, format: uri }
        watch:
          type: string
          format: uri
          description: A page for a person to follow the job, with the token in the query.
        note: { type: string }
        pay_usdc:
          $ref: "#/components/schemas/PayUSDC"
        warning: { type: string, description: Present when the predicate repeats the street address. }

    PostedFunded:
      type: object
      description: A post from an account; the ceiling is already held.
      required: [job, escrowed, status]
      properties:
        job: { type: string }
        kind: { type: string, enum: [observe, do] }
        board: { type: string, format: uri }
        escrowed: { type: integer, format: int64, description: The ceiling held from the balance. }
        expires: { type: string, format: date-time }
        status: { type: string, format: uri, description: The status URL. }
        project:
          type: object
          properties:
            id: { type: string }
            remaining_minor: { type: integer, format: int64 }
            committed_minor: { type: integer, format: int64 }
            spent_minor: { type: integer, format: int64 }
        warning: { type: string }

    JobPending:
      type: object
      description: A card-funded job whose authorisation has not landed yet.
      required: [job, status]
      properties:
        job: { type: string }
        kind: { type: string }
        predicate: { type: string }
        status: { type: string, const: awaiting_payment }
        pay_at: { type: string, format: uri }
        amount_minor: { type: integer, format: int64 }
        currency: { type: string }
        expires_at: { type: string, format: date-time }

    JobStatus:
      type: object
      required: [job, kind, predicate, slots, taken, expires, submissions]
      properties:
        job: { type: string }
        kind: { type: string }
        predicate: { type: string }
        slots: { type: integer }
        taken: { type: integer }
        expires: { type: string, format: date-time }
        submissions: { type: integer }
        escrow_minor: { type: integer, format: int64 }
        results:
          type: [array, "null"]
          items:
            type: object
            properties:
              at: { type: string, format: date-time }
              verified: { type: boolean }
              files: { type: integer }
              why: { type: string }
              media:
                type: [array, "null"]
                items: { type: string }
              transcript: { type: string }

    Receipt:
      type: object
      required: [job, kind, predicate, issued_by, issued_at, evidence, accepted, verification, signature]
      properties:
        job: { type: string }
        kind: { type: string }
        predicate: { type: string }
        issued_by: { type: string, description: The exchange's principal. }
        issued_at: { type: string, format: date-time }
        accepted: { type: boolean }
        evidence:
          type: array
          items:
            type: object
            properties:
              at: { type: string, format: date-time }
              accepted: { type: boolean }
              attested_by: { type: string }
              why: { type: string }
              files:
                type: array
                items:
                  type: object
                  properties:
                    sha256: { type: string }
                    kind: { type: string }
                    bytes: { type: integer }
                    challenge_found_in: { type: string }
                    lat: { type: number }
                    lon: { type: number }
                    transcript: { type: string }
        verification:
          type: object
          properties:
            confidence_ceiling:
              type: number
              description: 0.85 when a file records a capture location, 0.72 otherwise.
            ceiling_because: { type: string }
            tier_requested: { type: string }
            established:
              type: array
              items: { type: string }
            limits:
              type: array
              items: { type: string }
            site_mark:
              type: object
              properties:
                text: { type: string }
                seen: { type: boolean }
                inferred: { type: boolean }
        reference: { type: string }
        site: { type: string }
        directed: { type: boolean }
        escrow_remaining_minor: { type: integer, format: int64 }
        anchor:
          $ref: "#/components/schemas/AnchorSummary"
        signature:
          type: string
          description: Hex Ed25519 over the JSON of every other field.

    EvidenceList:
      type: object
      required: [job, files]
      properties:
        job: { type: string }
        files:
          type: array
          items:
            type: object
            properties:
              sha256: { type: string }
              mime: { type: string }
              kind: { type: string }
              bytes: { type: integer }
              at: { type: string, format: date-time }
              verified: { type: boolean }
              view: { type: string, format: uri }
              lat: { type: number }
              lon: { type: number }
              captured_at: { type: string, format: date-time }
              challenge_seen: { type: string }
              transcript: { type: string }
              looks_generated: { type: boolean }
              looks_like_a_screen_or_print: { type: boolean }
              text_aimed_at_the_checker: { type: boolean }

    Bid:
      type: object
      properties:
        id: { type: string }
        job: { type: string }
        worker: { type: string }
        amount_minor: { type: integer, format: int64 }
        currency: { type: string }
        note: { type: string }
        assumptions:
          type: array
          items: { $ref: "#/components/schemas/Assumption" }
        available_from: { type: string, format: date-time }
        placed: { type: string, format: date-time }
        won: { type: boolean }

    BidList:
      type: object
      properties:
        job: { type: string }
        pricing: { type: string }
        ceiling_minor: { type: integer, format: int64 }
        closes: { type: string, format: date-time }
        awarded: { type: string }
        bids:
          type: [array, "null"]
          items: { $ref: "#/components/schemas/Bid" }

    PlaceBidRequest:
      type: object
      required: [amount_minor]
      properties:
        amount_minor: { type: integer, format: int64, minimum: 1, description: All in. }
        note: { type: string, description: How they would do it. Buyers pick on this as much as on price. }
        assumptions:
          type: array
          items: { $ref: "#/components/schemas/Assumption" }
        available_from: { type: string, format: date, description: YYYY-MM-DD. }

    CancelResponse:
      type: object
      required: [job, cancelled]
      properties:
        job: { type: string }
        cancelled: { type: boolean }
        released_minor: { type: integer, format: int64 }
        currency: { type: string }
        status: { type: string, description: Present when somebody is holding the job. }
        note: { type: string }

    HoldRequest:
      type: object
      required: [ground, reason]
      properties:
        ground:
          type: string
          enum: [not_done, wrong_place, fabricated, damage, unsafe]
          description: What is wrong with the work against what was agreed.
        reason:
          type: string
          description: In your own words; a panel has to read it.

    HoldResponse:
      type: object
      properties:
        job: { type: string }
        held: { type: integer }
        status: { type: string }
        decided_by: { type: string, format: date-time, description: 7 days from now. }
        decided_by_whom: { type: string }
        if_not_decided: { type: string }
        note: { type: string }
        error: { type: string, description: When no valid ground was named. }
        grounds:
          type: array
          items:
            type: object
            properties:
              ground: { type: string }
              means: { type: string }

    QuoteRequest:
      type: object
      properties:
        kind: { type: string, enum: [observe, do], default: do }
        predicate: { type: string }
        detail: { type: string }
        instructions: { type: string }
        skills:
          type: array
          items: { $ref: "#/components/schemas/Skill" }
        lat: { type: number }
        lon: { type: number }
        slots: { type: integer, default: 1 }
        tier: { type: string }

    Quote:
      type: object
      required: [reachable, feasible]
      properties:
        reachable:
          type: string
          enum: [none, a few, several, plenty]
        feasible: { type: boolean }
        why: { type: string }
        settled_here:
          $ref: "#/components/schemas/PriceBand"
        refused: { type: boolean }
        refused_why: { type: string }
        needs_review: { type: boolean }
        advice:
          type: array
          items: { type: string }

    PriceBand:
      type: object
      description: What similar work has actually settled at here. History, not an estimate.
      properties:
        low_minor: { type: integer, format: int64 }
        median_minor: { type: integer, format: int64 }
        high_minor: { type: integer, format: int64 }
        currency: { type: string }
        based_on: { type: integer }

    AgentBalance:
      type: object
      properties:
        account: { type: string }
        key: { type: string }
        limits:
          type: object
          properties:
            max_per_outcome_minor: { type: integer, format: int64 }
            max_total_minor: { type: integer, format: int64 }
            max_open: { type: integer }
        balance_minor: { type: integer, format: int64 }
        committed_minor: { type: integer, format: int64 }
        in_flight_minor: { type: integer, format: int64 }
        remaining_minor: { type: integer, format: int64 }

    Capacity:
      type: object
      properties:
        max_concurrent: { type: integer }
        range_miles: { type: integer }
        kinds:
          type: array
          items: { type: string, enum: [observe, do] }
        accepting: { type: boolean }
        auto_accept: { type: boolean }
        lat_e7: { type: integer, format: int64 }
        lon_e7: { type: integer, format: int64 }
        skills:
          type: array
          items: { $ref: "#/components/schemas/Skill" }
        webhook: { type: string, format: uri }
        webhook_secret: { type: string, description: "Returned, never accepted." }

    Me:
      type: object
      properties:
        worker: { type: string }
        verified: { type: boolean }
        enrolled: { type: boolean }
        earned_minor: { type: integer, format: int64 }
        paid_minor: { type: integer, format: int64 }
        pending_minor: { type: integer, format: int64 }
        held_minor: { type: integer, format: int64 }
        clear_minor: { type: integer, format: int64 }
        ceiling_minor: { type: integer, format: int64 }
        exposure_minor: { type: integer, format: int64 }
        room_minor: { type: integer, format: int64 }
        tier: { type: string, enum: [new, proven, established, vetted, shaken] }
        currency: { type: string }
        payout: { $ref: "#/components/schemas/PayoutState" }
        payout_threshold: { type: integer, format: int64 }
        can_connect_payout: { type: boolean }
        blocked: { type: string }
        tax: {}
        history:
          type: [array, "null"]
          items:
            type: object
            properties:
              job: { type: string }
              kind: { type: string }
              title: { type: string }
              at: { type: string, format: date-time }
              status: { type: string, enum: [checking, accepted, rejected] }
              amount_minor: { type: integer, format: int64 }
              currency: { type: string }
              why: { type: string }
        bids:
          type: [array, "null"]
          items:
            type: object
            properties:
              job: { type: string }
              title: { type: string }
              where: { type: string }
              amount_minor: { type: integer, format: int64 }
              currency: { type: string }
              note: { type: string }
              placed: { type: string, format: date-time }
              closes_at: { type: string, format: date-time }
              won: { type: boolean }
              status: { type: string }

    PayoutState:
      type: object
      properties:
        unavailable: { type: boolean, description: This exchange has no payment rail at all. }
        connected: { type: boolean }
        ready: { type: boolean }
        needs:
          type: array
          items: { type: string }
        onboarding_url: { type: string, format: uri }

    PayoutStatus:
      type: object
      properties:
        payout: { $ref: "#/components/schemas/PayoutState" }
        owed_minor: { type: integer, format: int64 }
        currency: { type: string }
        threshold_minor: { type: integer, format: int64 }
        tax: {}
        clear_minor: { type: integer, format: int64 }
        waiting:
          type: array
          items:
            type: object
            properties:
              job: { type: string }
              amount_minor: { type: integer, format: int64 }
              status: { type: string }
              reason: { type: string }
              clears: { type: string, format: date-time }

    PayUSDC:
      type: object
      description: |
        Present on an anonymous post when the USDC rail is on. Send exactly
        `amount_usdc` on `chain` to `address`; the last digits are this job's
        own, so a different amount cannot be matched. The job lists after 12
        confirmations. Whatever the job does not pay out is returned to the
        sending address by a person, on a schedule.
      required: [address, amount_usdc, chain, chain_id, contract]
      properties:
        address: { type: string, description: The exchange's watch-only receiving address. }
        amount_usdc: { type: string, description: "Decimal string, exact." }
        chain: { type: string, enum: [base, base-sepolia] }
        chain_id: { type: integer, enum: [8453, 84532] }
        contract: { type: string, description: The USDC token contract on that chain. }
        note: { type: string }

    AnchorSummary:
      type: object
      description: Present on a receipt when the exchange is anchoring.
      required: [receipt_sha256, status, proof, method]
      properties:
        receipt_sha256:
          type: string
          description: SHA-256 of the receipt with `signature` and `anchor` removed, keys sorted, compact.
        status: { type: string, enum: [pending, anchored] }
        proof: { type: string, description: "`/v1/jobs/{job}/receipt/anchor?sha256=…`" }
        method: { type: string, const: opentimestamps }
        merkle_root: { type: string }
        bitcoin_block: { type: integer }

    AnchorProof:
      type: object
      required: [job, receipt_sha256, recorded_at, status, method, calendars, how_to_verify]
      properties:
        job: { type: string }
        receipt_sha256: { type: string }
        recorded_at: { type: string }
        status: { type: string, enum: [pending, anchored] }
        method: { type: string, const: opentimestamps }
        calendars:
          type: array
          items: { type: string, format: uri }
        how_to_verify:
          type: array
          items: { type: string }
        merkle_root: { type: string }
        inclusion_path:
          type: array
          items:
            type: object
            required: [sibling, side]
            properties:
              sibling: { type: string }
              side: { type: string, enum: [left, right] }
        ots_proof: { type: string, format: byte, description: "The detached .ots file, base64." }
        accepted_by:
          type: array
          items: { type: string }
        submitted_at: { type: string, format: date-time }
        anchored_at: { type: string, format: date-time }
        bitcoin_block: { type: integer }
        note: { type: string }

    Anchors:
      type: object
      required: [enabled]
      properties:
        enabled: { type: boolean }
        note: { type: string, description: Only when disabled. }
        method: { type: string, const: opentimestamps }
        calendars:
          type: array
          items: { type: string, format: uri }
        every: { type: string, description: "The batching interval, as a Go duration." }
        unbatched: { type: integer, description: Receipt hashes recorded and not yet in a batch. }
        batches:
          type: array
          items:
            type: object
            properties:
              seq: { type: integer }
              merkle_root: { type: string }
              status: { type: string, enum: [pending, anchored] }
              created_at: { type: string, format: date-time }
              submitted_at: { type: string, format: date-time }
              calendars:
                type: array
                items: { type: string }
              ots_proof: { type: string, format: byte }
              anchored_at: { type: string, format: date-time }
              bitcoin_block: { type: integer }
        how_to_verify:
          type: array
          items: { type: string }

    Rails:
      type: object
      properties:
        card:
          type: object
          properties:
            "on": { type: boolean }
        stripe_connect:
          type: object
          properties:
            "on": { type: boolean }
        usdc:
          type: object
          properties:
            "on": { type: boolean }
            chain: { type: string, enum: [base, base-sepolia] }
            chain_id: { type: integer }
            contract: { type: string }
            address: { type: string }
            confirmations: { type: integer, const: 12 }
            last_scanned_block: { type: integer }
            queue_length: { type: integer, description: Payouts and refunds a person has not sent yet. }
            unmatched: { type: integer, description: Transfers that arrived for no job. }
            cap_minor: { type: integer, format: int64, description: Lifetime USDC payout cap without a connected payout account (60000). }
            note: { type: string }

    USDCStanding:
      type: object
      required: [usdc_on, usdc_cap_minor, usdc_paid_minor]
      properties:
        usdc_on: { type: boolean }
        usdc_cap_minor: { type: integer, format: int64 }
        usdc_paid_minor: { type: integer, format: int64, description: Earnings already paid this way. }
        usdc_address: { type: string }
        usdc_cap_lifted: { type: boolean, description: True when a ready payout account removes the cap. }
        chain: { type: string }
        contract: { type: string }
        note: { type: string }

    Finding:
      type: object
      required: [place, job, question, verdict, at, lat, lon]
      properties:
        place: { type: string }
        job: { type: string }
        shape: { type: string, enum: [open-signage, hours, vacant, corner] }
        question: { type: string }
        verdict: { type: string }
        photo_sha: { type: string }
        at: { type: string, format: date-time }
        area: { type: string }
        lat: { type: number, description: Rounded to about a kilometre. }
        lon: { type: number }

    BootstrapStatus:
      type: object
      properties:
        enabled: { type: boolean }
        budget_minor: { type: integer, format: int64 }
        topped_up_minor: { type: integer, format: int64 }
        spent_minor: { type: integer, format: int64 }
        balance_minor: { type: integer, format: int64 }
        currency: { type: string }
        jobs_posted: { type: integer }
        jobs_filled: { type: integer }
        jobs_settled: { type: integer }
        findings: { type: integer }
        last_run: { type: string, format: date-time }
        clusters_seen: { type: integer }
        every_s: { type: integer }
        last_error: { type: string }
